<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        {% if the_title %}
    <title>{{ the_title }}</title>
        {% else %}
    <title>Главная блог</title>
        {% endif %}
        {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<div class="wrapper">
{% block menu %}
<header class="header">
<ul class="main-menu">
    <li><a href="#">Главная</a></li>
    <li><a href="#">Блог</a></li>
    <li><a href="#">Регистрация</a></li>
    <li><a href="#">Логин</a></li>
    <li><a href="#">Аккаунт</a></li>
    <li><a href="#">Создать</a></li>
    <li><a href="#">Выход</a></li>
    </ul>
</header>
{% endblock %}

{% block content %}
<div class="content"></div>
{% endblock %}

{% block main_page %}
<div class="content">
<h1>Приветствую</h1>
</div>
{% endblock %}

{% block footer %}
<div class="footer">Все права защищены<br>
&#169; Александр Матвеев</div>
{% endblock %}
</div>
</body>
</html>